.table {
    @apply w-full text-left;
    th {
        @apply font-medium px-5 py-3;
    }
    td {
        @apply px-5 py-3;
    }
    &.table--sm {
        th {
            @apply px-4 py-2;
        }
        td {
            @apply px-4 py-2;
        }
    }
}